@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Padauk&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: 'Josefin Sans','Crimson Text', serif;
    color: rgb(255, 255, 255);
}

footer{
    position: fixed;
    bottom:0px ;
    right: 5px; 
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contact  {
    width:8vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(90deg);
    background:rgba(53, 50, 255, 0.9);
    color:#fff;
    position:fixed;
    right:0;
    bottom:20vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
    top:52.5vh;
}
#contact:hover {
    background:rgb(0, 195, 255);
    cursor:pointer;
    color:rgba(53, 50, 255, 0.9);
    
    font-weight: bold;
}

#home  {
    width:8vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(90deg);
    background:rgba(53, 50, 255, 0.9);
    color:#fff;
    position:fixed;
    right:0;
    bottom:20vh;
    display:flex;
    flex-direction: column;
    top:30vh;
    justify-content: center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
#home:hover {
    background:rgb(0, 195, 255);
    cursor:pointer;
    color:rgba(53, 50, 255, 0.9);
    font-weight: bold;
}

#work  {
    width:8vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(90deg);
    background:rgba(53, 50, 255, 0.9);
    color:#fff;
    position:fixed;
    right:0;
    bottom:20vh;
    display:flex;
    flex-direction: column;
    top:75vh;
    justify-content: center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
#work:hover {
    background:rgb(0, 195, 255);
    cursor:pointer;
    color:rgba(53, 50, 255, 0.9);
    font-weight: bold;
}

#menu {
    width:100%;
    text-align:center;
    margin:6vh 0px;
    display:none;
    position:absolute;
    top: 5vh;
    
}

#menu a {
    margin:0px 6%;
    font-size:19px;
    color:rgb(255, 255, 255);
    text-decoration:underline; 
}

.info{
    display: inline-flex;
    justify-content: center;
   
    background-color: rgba(13, 11, 131, 0.685);
    position: relative;
    top: 18vh;
    font-family: 'Josefin Sans','Crimson Text', serif;
    border-radius: 0px 100px 100px 0px;
    right: 20vw;
    padding-left: 10px;
    left: 4px;



}


img{
    width: 150px;
    border: 5px solid rgb(2, 9, 44);
    border-radius: 100px;
}

.textinfo h2{ 
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.container{
    border: 5px solid rgba(0, 10, 41, 0.712);
    position: relative;
    top:20vh;
    width: 70vw;
    margin: auto;
    background-color:  rgba(25, 23, 168, 0.24);
    box-shadow: 2px 5px 3px 1px rgba(255, 255, 255, 0.616);
    
}
.container .card{
    border: 2px solid rgba(68, 0, 255, 0.541);
    margin-top: 10px;
    border-radius: 25px ;
    box-shadow: 2px 2px 1px 1px rgba(123, 169, 230, 0.493);
    

}

.container .card .icon{
    background-color: rgba(0, 140, 255, 0.616);

    justify-content: center;
    align-items: center;
    border-radius:70px 25px ;

    
}
.container .card .icon h4{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}



.container .card .icon img{
    background-color: rgba(1, 0, 8, 0.616);

    
}
.container .card .tools img{
    width: 50px;
    background-color: white;
}

@media (max-width: 800px){ 
    #contact {
        display:none;
    }
    #home {
        display:none;
    }
    #work {
        display:none;
    }
    
   
    #menu {
        display:inline-block;
    }
    .info{
        right: 5vw;
       
    }
    

}