
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    
    font-family: consolas;
}




#contact  {
    width:8vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(90deg);
    background:rgba(53, 50, 255, 0.9);
    color:#fff;
    position:fixed;
    right:0;
    bottom:20vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
    top:52.5vh;
}
#contact:hover {
    background:rgb(0, 195, 255);
    cursor:pointer;
    color:rgba(53, 50, 255, 0.9);
    
    font-weight: bold;
}

#home  {
    width:8vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(90deg);
    background:rgba(53, 50, 255, 0.9);
    color:#fff;
    position:fixed;
    right:0;
    bottom:20vh;
    display:flex;
    flex-direction: column;
    top:30vh;
    justify-content: center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
#home:hover {
    background:rgb(0, 195, 255);
    cursor:pointer;
    color:rgba(53, 50, 255, 0.9);
    font-weight: bold;
}

#work  {
    width:8vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(90deg);
    background:rgba(53, 50, 255, 0.9);
    color:#fff;
    position:fixed;
    right:0;
    bottom:20vh;
    display:flex;
    flex-direction: column;
    top:75vh;
    justify-content: center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
#work:hover {
    background:rgb(0, 195, 255);
    cursor:pointer;
    color:rgba(53, 50, 255, 0.9);
    font-weight: bold;
}

#menu {
    width:100%;
    text-align:center;
    margin:6vh 0px;
    display:none;
    position:absolute;
    top: 5vh;
    
}

#menu a {
    margin:0px 6%;
    font-size:19px;
    color:rgb(255, 255, 255);
    text-decoration:underline; 
}



.container{
    
    background-color: transparent;
    width: 80vw;
    margin: auto;
    position: relative;
    margin-top: 30vh;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 5px rgba(54, 63, 194, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.twocards{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px auto;
    max-width: 1040px;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    
    align-items: center;
}

.container h1{
    color: white;
    text-align: center;
    text-decoration: 4px underline;
    text-decoration-color: rgb(141, 141, 255);
    font-size: 45px;
    margin: 2px;
}

.container .card{
    position: relative;
    cursor: pointer;
    margin: auto 2vw auto 2vw;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    color: white;
}

.container .card:hover .face.face1{
    background: #18a3ff;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.7;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .twocards .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    
    box-shadow: 0px 10px 20px 5px rgba(185, 186, 255, 0.5);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.skillname{
    display:flexbox;
    flex-direction: column;
    border: 2px solid red;
}



.container .card .face.face2 .content i{
   
    
    margin:5px ;
}





@media (max-width: 800px){ 
    .container{
        width: 90%;
        box-shadow: 5px 5px 3px 1px rgba(3, 118, 250, 0.39);
    }
    .container h1{
        font-size: 35px;
    }
    .twocards{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px auto;
        max-width: 1040px;
        box-sizing: content-box;
        position: relative;
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
    
        width: 90%;
        
    }

    

    
    .container .card .face.face1{
        transform: translateY(0);
        margin-top: 5vh ;
        opacity: 1;
    }
    
    .container .card .face.face1 .content{
        opacity: 0.9;
        transition: 0.5s;
    }

    .container .card .face.face2{
        transform: translateY(0);
        background-color:aqua;
    }
    
 
}

.aboutbreak{
    width: 50%;
    
    height: 5px;
    background: linear-gradient(270deg, rgb(39, 132, 255) 0%, rgb(204, 0, 255) 100%);
        

}

.aboutme h2{
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(140, 0, 255);
}
.aboutme{
    position: relative;
    color: white;
    width: 80%;
    margin: auto;
    padding: 10px;
    border: 2px solid #5ea4ff80;
    font-family:  Space Grotesk, sans-serif;
    box-shadow: 5px 5px 3px 1px rgba(7, 3, 250, 0.575);
    border-radius: 10px;

}
.info{
    background-color: rgb(0, 0, 0);
   
    display: inline-flex;
    flex-direction: row;

}
.info .textinfo{
    border: rgb(0, 0, 0);
    
    display: flexbox;
    flex-direction: column;
    width: 60%;

}

.info span img{
    display: inline;
    width: 200px;
    
}

@media (max-width: 800px){
    .info{
        background-color: rgb(0, 0, 0);
        
        display: block;
    
    }
    .info .textinfo{
        width: 90%;
        display: block;
    }
}


@media (max-width: 800px){ 
    #contact {
        display:none;
    }
    #home {
        display:none;
    }
    #work {
        display:none;
    }
    
   
    #menu {
        display:inline-block;
    }
    .info{
        right: 5vw;
       
    }
    

}