
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

#resume{
    font-size:25px;
    font-family: 'Josefin Sans', sans-serif;
    color:rgb(255, 255, 255);
    
    background-color: rgb(13, 13, 184);
    border:2px solid rgb(12, 1, 71);
    padding:8px 40px;
    border-radius: 10px 10px;
    
    margin:5vh 2px auto 0;
    transition:0.4s ease-in-out;
    position: relative;
    bottom: 0%;
    font-family: 'Padauk', sans-serif;

}

#resume:hover {
    cursor:pointer;
    color:rgb(6, 52, 255);
    background-color: transparent;
    border: 2px solid rgb(23, 22, 112);
    font-family: 'Padauk', sans-serif;
    
    
}

.btn_one{
  font-size:15px;
  font-family: 'Josefin Sans', sans-serif;
  color:white;
  background-color: rgb(13, 13, 184);
  
  border:2px solid rgba(16, 3, 88, 0.774);
  padding:8px 40px;
  border-radius: 10px 10px;
  font-weight:bold;
  margin:5vh 2px auto 0;
  transition:0.4s ease-in-out;
  position: relative;
  bottom: 0%;
  font-family: 'Padauk', sans-serif;
}


.btn_code_one{
  font-size:20px;
  font-family: 'Josefin Sans', sans-serif;
  color:white;
  background-color: rgb(114, 50, 7);
  border:2px solid rgba(29, 14, 1, 0.774);
  padding:8px 20px;
  border-radius: 40px;
  font-weight:500;
  margin:3vh 2px ;

}

.btn_code_one:hover{
  font-size:20px;
  font-family: 'Josefin Sans', sans-serif;
  color:rgb(245, 239, 231);
  background-color:rgb(16, 13, 212);
  border:2px solid rgba(1, 13, 80, 0.774);
  padding:8px 20px;
  border-radius: 40px;
  font-weight:500;
  margin:3vh 2px ;

}



.btn_one:hover {
  cursor:pointer;
  color:blue;
  background:transparent;
  border: 2px solid rgb(4, 0, 243);
  font-family: 'Padauk', sans-serif;
}
